@{
    ViewBag.Title = "Contact Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
table, th, td {
   border: 1px solid black;
}
</style>
<div ng-cloak>


    <div class="col-sm-10">
        <button style="float:right; margin:10px;" ng-click="save()" class="btn-primary btn-sm " ng-show="!show">Save</button>
        <button style="float:right; margin:10px;" ng-click="clear()" class="btn-primary btn-sm " ng-show="show">Add</button>
        <button style="float:right; margin:10px;" ng-click="cancel()" class="btn-primary btn-sm " ng-show="!show">Cancel</button>
    </div>
    <div class="row" ng-show="!show">
        <div class="col-md-8">
            <h2 class="sub-header">Contact Detail Entry</h2>
            <form class="form-horizontal" role="form" ng-cloak>
                <ng-form name="contactmanagerform" validate>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input name="FirstName" class="form-control" type="text" ng-model="contactdetail.FirstName" placeholder="type first Name here"
                                   required maxlength="50" />
                            <span style="color:red" ng-show="contactmanagerform.FirstName.$dirty && contactmanagerform.FirstName.$invalid">
                                <span ng-show="contactmanagerform.FirstName.$error.required">First Name is required.</span>
                            </span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">

                            <input name="LastName" class="form-control" type="text" ng-model="contactdetail.LastName" placeholder="type last Name here"
                                   required maxlength="50" />
                            <span style="color:red" ng-show="contactmanagerform.LastName.$dirty && contactmanagerform.LastName.$invalid">
                                <span ng-show="contactmanagerform.LastName.$error.required">Last Name is required.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Email
                        </label>
                        <div class="col-sm-10">



                            <input name="Email" class="form-control" type="text" ng-model="contactdetail.Email" placeholder="type email here"
                                   required maxlength="50" />
                            <span style="color:red" ng-show="contactmanagerform.Email.$dirty && contactmanagerform.Email.$invalid">
                                <span ng-show="contactmanagerform.Email.$error.required">Email is required.</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            DOB
                        </label>
                        <div class="col-sm-10">
                            <input name="Born" class="form-control" type="date" ng-model="contactdetail.Born" placeholder="type dob here"
                                   required maxlength="50" />
                            <span style="color:red" ng-show="contactmanagerform.Born.$dirty && contactmanagerform.Born.$invalid">
                                <span ng-show="contactmanagerform.Born.$error.required">DOB is required.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Cell Phone
                        </label>
                        <div class="col-sm-10">
                            <input name="Cellphone" class="form-control" type="text" ng-model="contactdetail.Cellphone" placeholder="type cell phone number here"
                                   numeric required maxlength="50" />
                            <span style="color:red" ng-show="contactmanagerform.Cellphone.$dirty && contactmanagerform.Cellphone.$invalid">
                                <span ng-show="contactmanagerform.Cellphone.$error.required">Cell phone is required.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Is Active
                        </label>
                        <div class="col-sm-1">
                            <input type="checkbox" class="form-control" ng-model="contactdetail.IsActive" ng-checked="contactdetail.IsActive" />

                        </div>



                    </div>
                </ng-form>
            </form>
        </div>

    </div>
    <div class="row" ng-show="show">
        <div class="col-md-10">
            <h2 class="sub-header">Contact Details</h2>
            <div>
                <table class="table tblBorder">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Born</th>
                            <th>Cell Phone</th>
                            <th>Is Active</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="Contact in contactdetaildata">
                        <tr>
                            <td><a href="#" ng-click="select(Contact)">{{Contact.ID}}</a></td>
                            <td>{{Contact.FirstName}}</td>
                            <td>{{Contact.LastName}}</td>
                            <td>{{Contact.Email}} </td>
                            <td>{{Contact.Born|date:'dd-MM-yyyy'}}</td>
                            <td>{{Contact.Cellphone}}</td>
                            <td><input type="checkbox" ng-model="Contact.IsActive" ng-checked="Contact.IsActive" disabled /></td>
                            <td><button class="btn-warning" ng-click="select(Contact)">Select</button></td>
                            <td><button class="btn-danger" ng-click="delete(Contact)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @*ContactDetail
            int ID
            string FirstName
            string LastName
            string Email
            DateTime Born
            string Cellphone
            bool IsActive*@




    </div>

</div>